@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: "Open Sans-Bold";
  src: url("../fonts/OpenSans-Bold.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #ffffff;
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 29px;
  margin-bottom: 60px;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.navbar {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  width: 182px;
}

.navbar_unordered_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.navbar_list {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar_list a {
  text-decoration: none;
  color: inherit;
  margin-left: 32px;
}

.navbar_list a:hover {
  text-decoration: underline;
}

.trends {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  color: #ffffff;
  font-family: "Open Sans-Bold", sans-serif;
  font-size: 45px;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  padding: 125px 0 144px 0;
  line-height: 75px;
}

.trends_main_title {
  font-family: "Open Sans-Bold", sans-serif;
  font-size: 20px;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.trends_main_title::after {
  content: "";
  border-bottom: 3px solid #b59f5b;
  width: 60px;
  margin: 10px auto 0 auto;
  display: block;
  opacity: 0.6;
}

.trends_news {
  display: flex;
  width: 100%;
}

.trends_picture {
  width: calc(25% - 2.5px);
  background-color: black;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  min-height: 348px;
}

.trends_picture:nth-of-type(n+2) {
  margin-left: 5px;
}

.trends_picture1 {
  background-image: url("../images/trend1.jpg");
}

.trends_picture2 {
  background-image: url("../images/trend2.jpg");
}

.trends_picture3 {
  background-image: url("../images/trend3.jpg");
}

.trends_picture4 {
  background-image: url("../images/trend4.jpg");
}

.trends_picture::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trends_article {
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 1px solid #b59f5b;
  margin: 0 20px 15px;
  padding: 30px;
}

.trends_category {
  list-style-type: none;
  font-family: "Open Sans-Bold", sans-serif;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

.trends_category li {
  margin-right: 18px;
}

.trends_category li:hover {
  text-decoration: underline;
}

.trends_title {
  font-family: "Open Sans-Bold", sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  word-wrap: break-word;
}

.trends_title:hover {
  color:#b59f5b;
}

.main_section {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.news_section {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  margin-top: 60px;
  margin-bottom: 60px;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news_post {
  display: flex;
  margin-bottom: 60px;
}

.new_post_last {
  margin-bottom: 0;
}

.news_image {
  width: 381px;
  height: 295px;
}

.news_image>img {
  background-color: #eff6f1;
  min-width: 381px;
  min-height: 100%;
}

.news_article {
  display: flex;
  flex-direction: column;
  min-width: 367px;
  box-sizing: border-box;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.news_category {
  display: flex;
  list-style-type: none;
  font-family: "Open sans-bold", sans-serif;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.news_category li {
  margin-right: 18px;
}

.news_category li:hover {
  text-decoration: underline;
}

.news_title {
  font-family: "Open sans-bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.news_title:hover {
  color: #b59f5b;
}

.news_post_info {
  display: flex;
  margin-top: 36px;
  margin-bottom: 52px;
}

.news_post_date {
  color: #888888;
  font-size: 12px;
  font-family: "Open sans", sans-serif;
}

.news_author {
  font-size: 12px;
  font-family: "Open sans-bold", sans-serif;
  margin-left: 12px;
}

.news_paragraph {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
}

.news_aside {
  display: flex;
  flex-direction: column;
  width: 272px;
  margin-left: 90px;
}

.aside_section_title {
  font-size: 14px;
  font-family: "Open sans-bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.aside_section_title::after {
  content: "";
  width: 66px;
  border-bottom: 3px solid #b59f5b;
  margin: 14px auto 0 auto;
  display: block;
  opacity: 0.4;
}

.news_aside_post {
  display: flex;
  margin-bottom: 22px;
}

.news_aside_post_last {
  margin-bottom: 60px;
}

.news_aside_image {
  width: 70px;
  height: 70px;
}

.news_aside_image img {
  background-color: #eff6f1;
  width: 70px;
  min-height: 100%;
}

.news_aside_info {
  margin-left: 15px;
  width: 185px;
}

.news_aside_date {
  color: #888888;
  font-size: 12px;
  font-family: "Open sans", sans-serif;
}

.news_aside_title {
  font-size: 14px;
  font-family: "Open sans-bold", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

.news_aside_title:hover {
  color: #b59f5b;
}

.search_news_section {
  width: 272px;
  display: flex;
  margin-bottom: 56px;
}

input::placeholder {
  padding-left: 20px;
  font-size: 13px;
  font-family: "Open sans", sans-serif;
}

.search_field {
  width: 223px;
  height: 48px;
  border-style: none;
  background-color: #f4f7f6;
}

.search_field:focus {
  outline: 1px solid #b59f5b;
}

.search_button {
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-color: #b59f5b;
  width: 48px;
  height: 48px;
  background-position: center center;
  background-size: 18px;
  border: none;
}

.search_button:hover {
  background-color: #323232;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mailing_list {
  display: flex;
  flex-direction: column;
  width: 272px;
  margin-bottom: 56px;
}

.email_input {
  width: 272px;
  height: 48px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-style: none;
  background-color: #f4f7f6;
}

.email_input:focus {
  outline: 1px solid #b59f5b;
}

.subscribe_button {
  width: 272px;
  height: 48px;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open sans-bold", sans-serif;
  text-transform: uppercase;
  border: none;
}

.subscribe_button:hover {
  background-color: #323232;
  cursor: pointer;
}

.tags {
  margin-bottom: 56px;
}

.tags_section {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 272px;
}

.tags_list {
  font-size: 12px;
  font-family: "Open sans-bold", sans-serif;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  margin: 0px 5px 5px 0;
  padding: 5px 9px 5px 9px;
}

.tags_list:hover {
  border: 3px solid #b59f5b;
}

.themes_unordered_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.themes_list {
  color: black;
  font-size: 14px;
  font-family: "Open sans-bold", sans-serif;
  text-transform: none;
  margin: 0 0 4px 0;
}

.themes_list::after {
  content: "";
  width: 272px;
  border-bottom: 1px solid #eeeeee;
  margin: 19px 0 0 0;
  display: block;
}

.themes_list_sup {
  font-size: 12px;
  font-family: "Open sans-bold", sans-serif;
  color: #b59f5b;
  margin-left: 5px;
  vertical-align: super;
}

.themes_list:hover {
  color: #b59f5b;
}

.shop_cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.card_image {
  margin: 0 auto;
}

.shop_article {
  border: 1px solid #b59f5b;
  margin-top: -30px;
  flex-grow: 1;
  padding: 20px;
}

.card_title {
  font-size: 20px;
  font-family: "Open sans-bold", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
}

.card_paragraph {
  font-size: 15px;
  font-family: "Open sans", sans-serif;
  margin-bottom: 20px;
}

.card_paragraph a {
  color: #b59f5b;
}

.card_paragraph a:hover {
  text-decoration: underline;
}

.price_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.prices {
  flex-direction: column;
}

.card_price {
  font-size: 20px;
  font-family: "Open sans-bold", sans-serif;
}

.discount_price {
  font-size: 14px;
  text-decoration: line-through;
}

.card_button {
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open sans-bold", sans-serif;
  text-transform: uppercase;
  border: none;
}

.card_button:hover {
  background-color: #323232;
}

.footer {
  width: 100%;
}

.social {
  display: flex;
  width: 100%;
  height: 83px;
  background-color: #f4f7f6;
  margin: 64px auto 0 auto;
}

.social_unordered_list {
  display: flex;
  list-style-type: none;
  margin: auto auto;
  box-sizing: border-box;
}

.social_list {
  margin-right: 25px;
}

.social_list a {
  color: black;
}

.social_list img {
  width: 20px;
  height: 20px;
}

.copyright {
  font-size: 12px;
  font-family: "Open sans-bold", sans-serif;
  color: #999999;
  text-align: center;
  margin: 73px auto 40px auto;
}

.menu-btn {
  display: none;
}

input::placeholder {
  font-size: 13px;
  padding-left: 5px;
  margin-left: 5px;
}

input {
  text-indent: 10px;
}

@media (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .navbar_unordered_list {
    display: none;
  }

  .menu-btn {
    display: flex;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    background-color: #ffffff;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 7px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 7px);
  }

  .title {
    font-size: 40px;
  }

  .main_section {
    box-sizing: border-box;
  }

  .news_post {
    flex-direction: column;
    width: calc(100%-302px);
  }

  .news_post::after {
    content: "";
    width: 100%;
    border-bottom: 3px solid #eeeeee;
    margin: 14px auto 0 auto;
    display: block;
  }

  .news_article {
    margin-left: 0;
    margin-top: 20px;
  }

  .news_image {
    width: 100%;
  }

  .news_image>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 100%;
  }

  .news_title {
    font-size: 17px;
  }

  .news_category {
    margin-bottom: 20px;
  }

  .news_article {
    min-width: 100%;
  }

  .news_aside {
    margin-left: 30px;
  }

  .trends {
    width: 100%;
  }

  .trends_title {
    font-size: 17px;
  }

  @media (orientation: portrait) {

    .trends_news {
      flex-wrap: wrap;
    }

    .trends_picture {
      width: calc(50% - 2.5px);
      background-size: cover;
      background-position: center center;
      min-height: 247px;
    }

    .trends_title {
      font-size: 17px;
    }

    .trends_picture:nth-of-type(n+2) {
      margin-left: 0;
    }

    .trends_picture:nth-of-type(even) {
      margin-left: 5px;
    }

    .trends_picture:nth-of-type(n+3) {
      margin-top: 5px;
    }
  }

  .shop_cards {
    flex-wrap: wrap;
    align-content: space-between;
  }

  .card {
    width: 49%;
  }

  .card img {
    max-width: 100%;
  }

  .card:nth-of-type(3n) {
    margin-top: 20px;
  }

  .copyright {
    margin-top: 49px;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
    background-size: cover;
    background-position: center center;
    height: 638px;
  }

  .title {
    font-size: 26px;
  }

  .trends {
    flex-direction: column;
  }

  .trends_news {
    flex-direction: column;
    width: 100%;
  }

  .trends_picture {
    width: 100%;
  }

  .trends_title {
    font-size: 16px;
  }

  .trends_picture:nth-of-type(n+2) {
    margin-left: 0;
    margin-top: 5px;
  }

  .news_section {
    flex-direction: column;
  }

  .news {
    width: 100%;
  }

  .news_article {
    min-width: 100%;
  }

  .news_image > img {
    min-width: 100%;
  }

  .navbar {
    flex-direction: column-reverse;
  }

  .logo {
    width: 268px;
    margin-top: 180px;
  }

  .menu-btn {
    align-self: flex-end;
    margin-right: 15px;
  }

  .title {
    padding-top: 40px;
  }

  .news_title {
    font-size: 16px;
  }

  .news_article,
  .news_category,
  .news_title {
    margin-bottom: 15px;
  }

  .news_post_info {
    margin: 0;
  }

  .news_aside {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  .news_aside_post {
    width: 100%;
  }

  .news_aside_info {
    width: 100%;
  }

  .mailing_list,
  .email_input,
  .subscribe_button {
    width: 100%;
  }

  .search_news_section,
  .search_structure,
  .search_field {
    width: 100%;
  }

  .search_button {
    width: calc(100%-48px);
  }

  .tags {
    width: 100%;
  }

  .tags_section {
    width: 100%;
  }

  .themes_list::after {
    width: 100%;
  }

  .shop_cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .shop_article {
    width: 100%;
  }

  .card:nth-of-type(n),
  .card:nth-of-type(n+2) {
    margin-left: 0;
  }

  .card:nth-of-type(2n) {
    margin-top: 30px;
  }

  @media (orientation: landscape) {

    .trends_news {
      flex-wrap: wrap;
      flex-direction: row;
    }

    .trends_picture {
      width: calc(50% - 2.5px);
      background-size: cover;
      background-position: center center;
      min-height: 247px;
      max-height: 247px;
    }

    .trends_title {
      font-size: 17px;
    }

    .trends_picture:nth-of-type(n+2) {
      margin-left: 0;
    }

    .trends_picture:nth-of-type(even) {
      margin-left: 5px;
    }

    .trends_picture:nth-of-type(n+3) {
      margin-top: 5px;
    }

    .trends_picture1 {
      margin-top: 5px;
    }
  }
}

.popup_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.popup_form {
  display: flex;
  flex-direction: column;
}

.popup_block {
  position: absolute;
  background: #ffffff;
  padding: 40px 30px;
  max-width: 331px;
  font-size: 13px;
}

#popup_select {
  font-size: 13px;
}

.popup_span {
  font-size: 13px;
}

.aside_section_title {
  font-size: 18px;
}

.radio_section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

#popup_select {
  background-color: #f4f7f6;
  width: 100%;
  height: 48px;
  border-style: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 20px center;
  margin-top: 5px;
  font: inherit;
  text-indent: 5px;
}

.input_control {
  display: none;
}

.radio_choice {
  margin-top: 5px;
}

.radio_text::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px;
  margin-right: 3px;
}

.input_control:checked~.radio_text::before {
  background-image: url("../svg/form-circle.svg");
}

textarea {
  background-color: #f4f7f6;
  border-style: none;
  resize: none;
  margin-top: 5px;
}

textarea:focus {
  outline: 1px solid #b59f5b;
}

#popup_textarea {
  text-indent: 10px;
  font-size: 13px;
}

.submit_button {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open sans-bold", sans-serif;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
}

.submit_button:hover {
  background-color: #323232;
  cursor: pointer;
}

.popup_close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -25px;
  right: 0;
  background: none;
  border: none;
  background-image: url("../svg/form-x.svg");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

#popup_select {
  font: inherit;
}

.input_group {
  margin-right: 10px;
}